.card-container {
  display: flex;
}

.card-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 0 1rem;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: "cover";
}
