.ellipsis {
  white-space: initial;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.one {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.two {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.card-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
