.container {
  display: flex;
  gap: 1rem;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.control-btn {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large {
  width: 50px;
  height: 50px;
}
.small {
  width: 30px;
  height: 30px;
}
.control-btn:hover {
  background-color: rgba(255, 255, 255, 0.034);
}

.progress-bar {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 200px;
}

.volume {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 200px;
}
