html,
body {
  margin: 0;
  font-family: "Quicksand";
}

body {
  font-family: "Quicksand";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main-container {
  display: flex;
  flex: 1;
  justify-content: center;
  overflow-y: auto;
}

#content {
  width: 832px;
  min-width: 200px;
}

#header {
  height: 100px;
  display: flex;
  align-items: center;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
}

/* COMMON */
.ellipsis {
  white-space: initial;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.one {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.two {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
