.card-container {
  display: flex;
  min-width: 250px;
  max-width: 350px;
}

.card-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 0 1rem;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
