.hero-img-container {
  display: flex;
  align-items: center;
}

.hero-img {
  max-width: 100%;
  height: auto;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 2;
}

.hero-selector {
  display: flex;
  align-items: center;
}
